*{
    left: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}
body{
    margin: auto;
    background-color: rgb(195, 236, 198);
    background-image: url(assets/images/bgImg.png);
}
a{
    color: inherit;
}
.heading{
    margin: auto;
    position: relative;
    text-align: center;
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70.71%),
    linear-gradient(127deg, rgba(164, 255, 164, 0.8), rgba(255, 255, 255, 0) 70.71%),
    linear-gradient(336deg, rgb(156, 255, 64), rgba(255, 255, 255, 0) 70.71%);
width: 80vw;
}
.heading h1{
    font-size: 3.4em;
    font-weight: bolder;
}
.article{
    position: relative;
    margin: 2vh 2vh;
    padding: 2vh 2vh 2vh;
    background-color: rgb(159, 238, 163);
    color: rgb(149, 214, 112);
}
.article:hover{
    margin: auto;
    left: -4.5em;
    width: 110%;
    background-color: rgb(120, 148, 89);
    color: rgb(16, 19, 13);
    box-shadow: 0px 5px 5px 2px rgb(10, 10, 9);
    transition-duration: 1s;

}
.heading-contents{
    width: 100%;
    color: rgb(16, 39, 28);
    background-color: rgba(34, 102, 34, 0.438);
    mix-blend-mode:darken;
}
.actions{
    display: block;
    background-color: rgb(185, 177, 144);
    padding-bottom: 6vh;
}
.actions ul{
    font-size: 1.3em;
    position: relative;
    left: -2.5vw;
    list-style-type: none;
}
.actions ul li{
    float: left;
    display: inline;
    padding: 10px;
}
.actions ul li:hover{
    background-color: rgb(163, 52, 52);
    transition-duration: .4s;
    color: rgb(59, 48, 35);
}
#frame{
    padding-top: 3vh;
    padding-bottom: 1vh;
    animation: floatLeft 3s ease-in;
}
#frame2{
    position: relative;
    background-color: rgba(0, 0, 0, 0.075);
    margin: 5% 5%;
    text-align: center;
}
#frame2 h2{
    font-size: 2.5em;
}
 #frame2 p{
    margin: 5% 5%;
    text-indent: 10vw;
    font-size: 1.5em;
    text-align: justify;
}
@keyframes floatLeft{
    from{};
    to{color: black};
}